In [ ]:
# Library Jargon
import requests
import pandas as pd

In [ ]:
# Initial unemployment data import
# We using FRED :D

key = "aa9cd57aae80525dc171dbc517b39546"

url = "https://api.stlouisfed.org/fred/series/observations"

params = {
    "series_id": "NYICLAIMS",
    "api_key": key,
    "file_type": "json",
    "frequency": "w"
    #observation_start: (when we want to change the start time)
}

fred_initial_response = requests.get(url, params = params)
fred_initial_data = fred_initial_response.json()

In [16]:
# Creating Initial FRED Dataframe

fred_initial_df = pd.DataFrame(fred_initial_data["observations"])
fred_initial_df

     realtime_start realtime_end        date  value
0        2026-02-14   2026-02-14  1986-02-15  20647
1        2026-02-14   2026-02-14  1986-02-22  21499
2        2026-02-14   2026-02-14  1986-03-01  21738
3        2026-02-14   2026-02-14  1986-03-08  22049
4        2026-02-14   2026-02-14  1986-03-15  20144
...             ...          ...         ...    ...
2082     2026-02-14   2026-02-14  2026-01-10  28142
2083     2026-02-14   2026-02-14  2026-01-17  18678
2084     2026-02-14   2026-02-14  2026-01-24  20417
2085     2026-02-14   2026-02-14  2026-01-31  23558
2086     2026-02-14   2026-02-14  2026-02-07  24382

[2087 rows x 4 columns]

In [ ]:
# Continued unemployment data

params = {
    "series_id": "NYCCLAIMS",
    "api_key": key,
    "file_type": "json",
    "frequency": "w"
    #observation_start: (when we want to change the start time)
}
fred_continued_response = requests.get(url, params = params)
fred_continued_data = fred_continued_response.json()

In [17]:
# Creating Continued Fred Dataframe

fred_continued_df = pd.DataFrame(fred_continued_data["observations"])
fred_continued_df

     realtime_start realtime_end        date     value
0        2026-02-14   2026-02-14  1986-02-08    234789
1        2026-02-14   2026-02-14  1986-02-15    224846
2        2026-02-14   2026-02-14  1986-02-22    238566
3        2026-02-14   2026-02-14  1986-03-01    231392
4        2026-02-14   2026-02-14  1986-03-08    230848
...             ...          ...         ...       ...
2082     2026-02-14   2026-02-14  2026-01-03  219921.0
2083     2026-02-14   2026-02-14  2026-01-10  198436.0
2084     2026-02-14   2026-02-14  2026-01-17  194621.0
2085     2026-02-14   2026-02-14  2026-01-24  203505.0
2086     2026-02-14   2026-02-14  2026-01-31  215884.0

[2087 rows x 4 columns]

In [ ]:
#Second Dataset

# https://www.opendatanetwork.com/dataset/data.cityofnewyork.us/8h9b-rp9u
# https://data.cityofnewyork.us/City-Government/Evictions/6z8x-wfk4/about_data