In [2]:
# Library Jargon
import requests
import pandas as pd

In [3]:
# Initial unemployment data import
# We using FRED :D

key = "aa9cd57aae80525dc171dbc517b39546"

url = "https://api.stlouisfed.org/fred/series/observations"

params = {
    "series_id": "NYICLAIMS",
    "api_key": key,
    "file_type": "json",
    "frequency": "w"
    #observation_start: (when we want to change the start time)
}

fred_initial_response = requests.get(url, params = params)
fred_initial_data = fred_initial_response.json()

In [4]:
# Creating Initial FRED Dataframe

fred_initial_df = pd.DataFrame(fred_initial_data["observations"])
fred_initial_df

     realtime_start realtime_end        date  value
0        2026-02-14   2026-02-14  1986-02-15  20647
1        2026-02-14   2026-02-14  1986-02-22  21499
2        2026-02-14   2026-02-14  1986-03-01  21738
3        2026-02-14   2026-02-14  1986-03-08  22049
4        2026-02-14   2026-02-14  1986-03-15  20144
...             ...          ...         ...    ...
2082     2026-02-14   2026-02-14  2026-01-10  28142
2083     2026-02-14   2026-02-14  2026-01-17  18678
2084     2026-02-14   2026-02-14  2026-01-24  20417
2085     2026-02-14   2026-02-14  2026-01-31  23558
2086     2026-02-14   2026-02-14  2026-02-07  24382

[2087 rows x 4 columns]

In [5]:
# Continued unemployment data

params = {
    "series_id": "NYCCLAIMS",
    "api_key": key,
    "file_type": "json",
    "frequency": "w"
    #observation_start: (when we want to change the start time)
}
fred_continued_response = requests.get(url, params = params)
fred_continued_data = fred_continued_response.json()

In [6]:
# Creating Continued Fred Dataframe

fred_continued_df = pd.DataFrame(fred_continued_data["observations"])
fred_continued_df

     realtime_start realtime_end        date     value
0        2026-02-14   2026-02-14  1986-02-08    234789
1        2026-02-14   2026-02-14  1986-02-15    224846
2        2026-02-14   2026-02-14  1986-02-22    238566
3        2026-02-14   2026-02-14  1986-03-01    231392
4        2026-02-14   2026-02-14  1986-03-08    230848
...             ...          ...         ...       ...
2082     2026-02-14   2026-02-14  2026-01-03  219921.0
2083     2026-02-14   2026-02-14  2026-01-10  198436.0
2084     2026-02-14   2026-02-14  2026-01-17  194621.0
2085     2026-02-14   2026-02-14  2026-01-24  203505.0
2086     2026-02-14   2026-02-14  2026-01-31  215884.0

[2087 rows x 4 columns]

In [ ]:
#Second Dataset

# https://data.cityofnewyork.us/City-Government/Evictions/6z8x-wfk4/about_data
eviction_data = pd.DataFrame()
url = "https://data.cityofnewyork.us/resource/6z8x-wfk4.json"
limit = 1000
offset = 0
loop = True
while loop == True:
    params = {"$limit": limit, "$offset": offset}
    r = requests.get(url, params = params)
    data =r.json()
    clean_pop = pd.json_normalize(data)
    eviction_data = pd.concat([eviction_data,clean_pop])

    if len(data) < limit:
        loop = False
    
    offset += limit

eviction_data

,court_index_number,docket_number,eviction_address,eviction_apt_num,executed_date,marshal_first_name,marshal_last_name,residential_commercial_ind,borough,eviction_zip,ejectment,eviction_possession,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta
0,309118/20,004044,1338 BERGEN ST,5,2025-11-25T00:00:00.000,Salavatore,Giglio,Residential,BROOKLYN,11213,Not an Ejectment,Possession,40.675561,-73.940256,8,36,311,3030822,3012230023,Crown Heights North
1,K68035/18,106901,560 WINTHROP STREET,921,2018-10-11T00:00:00.000,Darlene,Barone,Residential,BROOKLYN,11203,Not an Ejectment,Possession,40.657646,-73.941519,9,40,808,3424559,3048290005,Prospect Lefferts Gardens-Wingate
2,R50849/18,089304,7 NAVY PIER COURT,1093,2018-07-17T00:00:00.000,Ileana,Rivera,Residential,STATEN ISLAND,10304,Not an Ejectment,Possession,40.628828,-74.074387,1,49,21,5158986,5004877501,Stapleton-Rosebank
3,330748/24B,136198,2685 UNIVERSITY AVE,16C,2025-08-25T00:00:00.000,Darlene,Barone,Residential,BRONX,10468,Not an Ejectment,Possession,40.868459,-73.900944,8,14,26701,2015260,2032480049,Van Cortlandt Village
4,52601/17,340776,1057 SHERIDAN AVENUE,1C,2018-07-26T00:00:00.000,Thomas,Bia,Residential,BRONX,10456,Not an Ejectment,Possession,40.830596,-73.918804,4,16,18102,2002729,2024560023,East Concourse-Concourse Village
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,N305693/25,121386,80 NORTH MOORE STREE T,20A,2025-09-10T00:00:00.000,Ileana,Rivera,Residential,MANHATTAN,10013,Not an Ejectment,Possession,40.720145,-74.010552,1,1,39,1083157,1001420025,SoHo-TriBeCa-Civic Center-Little Italy
280,302068/23,120484,1506 EAST 98TH STR EET,2ND FLOOR,2024-05-13T00:00:00.000,Justin,Grossman,Residential,BROOKLYN,11236,Not an Ejectment,Possession,40.636700,-73.891423,18,46,1022,3233730,3082810069,Canarsie
281,B322758/22,122806,1297 CHISHOLM STREET,1,2023-09-12T00:00:00.000,Darlene,Barone,Residential,BRONX,10459,Not an Ejectment,Possession,40.830347,-73.895577,3,16,125,2116574,2029700167,Morrisania-Melrose
282,320769/23,129028,361 TROY AVENUE,1,2024-06-10T00:00:00.000,Justin,Grossman,Residential,BROOKLYN,11213,Not an Ejectment,Possession,40.666048,-73.936930,9,35,353,3038041,3014130007,Crown Heights North
283,92773/18,027128,10317 GLENWOOD ROAD,NaN,2019-05-01T00:00:00.000,Gary,Rose,Commercial,BROOKLYN,11236,Not an Ejectment,Possession,40.648286,-73.897516,18,42,974,3229459,3081720001,Canarsie

In [15]:
# Potential datasets :^)
# https://www.opendatanetwork.com/dataset/data.cityofnewyork.us/8h9b-rp9u (Maybe???)